body{
    background-color: aquamarine;
}
p{
color: blueviolet;
background-color: bisque;
text-align: justify;
text-decoration: underline;
text-transform: capitalize;
text-decoration-color: rgb(104, 68, 21);
text-decoration-thickness: 2px;
text-shadow: 2px 2px 3px black;
line-height: 35px;
word-spacing: 7px;
}